<!-- [title] is called directives -->
<!-- *ngIf="" is called structural directives, it is intuitive, in the below case it decides whether to show the header or not -->
<app-header [title]="headerTitle" *ngIf="isHeaderVisibile"></app-header>
<mat-card>
  <mat-card-content>Simple card is here!</mat-card-content>
</mat-card>
<app-profile-editor></app-profile-editor>
<!-- <button mat-raised-button color="primary" RouterLinkWithHref="/dashboard">Navigate to Dashboard</button> -->
<button mat-raised-button color="primary" (click)="gotoProfileAndLogCabbage()">Navigate to Dashboard</button>
<app-footer></app-footer>
